include README.md
include requirements.txt
include LICENSE
recursive-include v2ray_config_collector/data/sources *.txt
global-exclude __pycache__
global-exclude *.py[co]
global-exclude .DS_Store
global-exclude *.so
global-exclude *.dylib